<div class="sidebar">
    <div class="logo">
        <a href="#">Yönetici Paneli</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/Admin/Index" class="nav-link"><i class="material-icons">dashboard</i> <p>Anasayfa</p></a></li>
            <li class="nav-item"><a href="/Admin/Students" class="nav-link"><i class="fa-solid fa-users"></i> <p>Öğrenciler</p></a></li>
            <li class="nav-item"><a href="/Admin/Teachers" class="nav-link"><i class="fa-solid fa-person-chalkboard"></i> <p>Öğretmenler</p></a></li>
            <li class="nav-item"><a href="/Admin/AdminProfile" class="nav-link"><i class="fa-solid fa-gear"></i><p>Profil</p></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-users-between-lines"></i> <p>Komisyonlar</p></a></li>
            <li class="nav-item"><a href="/Admin/Logout" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> <p>Oturumu Kapat</p></a></li>

        </ul>
    </div>


</div>
