<div class="row w-100 g-0 mt-5" style="margin-top:180px!important;">
    <div class="col-12">
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>Anasayfa</h4>
                        <ul>
                            <li>
                                <a href="/Teacher/Index">Anasayfa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Profil</h4>
                        <ul>
                            <li>
                                <a href="/Teacher/TeacherProfile">Profil</a>
                            </li>
                        </ul>
                    </div>
                   
                    <div class="footer-col">
                        <h4>İletişim / Adres</h4>
                        <ul>
                            <li style="color: #bbbbbb;">
                                Adres : Kocaeli Üniversitesi Umuttepe Yerleşkesi 41001, İzmit/KOCAELİ<br><br>Telefon : +90 (262) 303 10 00<br><br>Faks : +90 (262) 303 10 33<br><br>Mail : kocaeliuniversitesi@hs01.kep.tr
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Social Networks</h4>
                        <div class="social-links">
                            <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#facebook"><i class="fab fa-twitter"></i></a>
                            <a href="#facebook"><i class="fab fa-instagram"></i></a>
                            <a href="#facebook"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>



